.container {
    background-color: lightcoral;
    padding: 1em;
    display: grid;
    gap: 1em;

    grid-template-columns: [um] 90px [dois] auto [tres] 90px [quatro] ;
}

.item{
    background-color: #fff;
    padding: 1em;
}

.item:nth-child(1){
    /* grid-column-start: 1;
    grid-column-end: 3; 
    These (up and down) are doing the same thing */
    grid-column: 1/3;

    grid-column: 1/ span 2;
}

.item:nth-child(3) {
    grid-column: 2/4;
    grid-row: 2/4;
}

.container2 {
    margin-top: 40px;
    padding: 1em;
    background-color: lightgreen;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.cells {
    background-color: #fff;
    padding: 2em;
}

.cells:nth-child(1){
    grid-column: 1/ span 4;
}

.cells:nth-child(2) {
    grid-row: 2 / span 4;
    grid-column: 1 / 2;
}

.cells:nth-child(3){
    grid-column: 2 / 5;
    grid-row: 2 / span 2;
}

.cells:nth-child(4){
    grid-column: 2 / span 3;
    grid-row: 4 / span 2;
}

.cells:nth-child(5){
    grid-column: 1 / 4;
}

.cells:nth-child(6){
    grid-column: 4 / 5;
}

.cells:last-child {
    grid-column: 1 / span 4;
}